// Colors
$orange: #f15a29;
$blue: #1e3358;
$lightBlue: #78859B;
$black: #13223c;
$offWhite: #f2f2f2;

// Max Widths
$maxWLg: 1088px;

// Font Sizes
$fontBase: 1.8rem;
$fontSm: 1.4rem;
$fontLg: 2rem;
$fontXl: 2.4rem;
$font2xl: 4rem;
$font3xl: 10rem;
$fontDate: 3.6rem;
$fontMonth: 1.6rem;

// Font Family
$fontDisplay: 'Titillium Web', sans;
$fontBody: 'Titillium Web', sans;


